*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Gloabl propeties */

/* Global CSS Here */
.container {
  width: 80%;
  margin: 0 auto;
  color: #eee;
}

/* Margin Top */

.mt-1 {
  margin-top: 1ch;
}
.mt-2 {
  margin-top: 2ch;
}
.mt-3 {
  margin-top: 3ch;
}
.mt-4 {
  margin-top: 4ch;
}

/* Margin Bottom */

.mb-1 {
  margin-bottom: 1ch;
}
.mb-2 {
  margin-bottom: 2ch;
}
.mb-3 {
  margin-bottom: 3ch;
}
.mb-4 {
  margin-bottom: 4ch;
}

/* Margin Left */

.ml-1 {
  margin-left: 1ch;
}
.ml-2 {
  margin-left: 2ch;
}
.ml-3 {
  margin-left: 3ch;
}
.ml-4 {
  margin-left: 4ch;
}

/* Margin Right */

.mr-1 {
  margin-right: 1ch;
}
.mr-2 {
  margin-right: 2ch;
}
.mr-3 {
  margin-right: 3ch;
}
.mr-4 {
  margin-right: 4ch;
}

/* Margin Left Right */

.mlr-1 {
  margin: 0 1ch;
}
.mlr-2 {
  margin: 0 2ch;
}
.mlr-3 {
  margin: 0 3ch;
}
.mlr-4 {
  margin: 0 4ch;
}

/* Margin Top Bottom */

.mtb-1 {
  margin: 1ch 0;
}
.mtb-2 {
  margin: 2ch 0;
}
.mtb-3 {
  margin: 3ch 0;
}
.mtb-4 {
  margin: 4ch 0;
}

/* Margin */

.m-1 {
  margin: 1ch;
}
.m-2 {
  margin: 2ch;
}
.m-3 {
  margin: 3ch;
}
.m-4 {
  margin: 4ch;
}


/* Padding Top */

.pt-1 {
  padding-top: 1ch;
}
.pt-2 {
  padding-top: 2ch;
}
.pt-3 {
  padding-top: 3ch;
}
.pt-4 {
  padding-top: 4ch;
}

/* Padding Bottom */

.pb-1 {
  padding-bottom: 1ch;
}
.pb-2 {
  padding-bottom: 2ch;
}
.pb-3 {
  padding-bottom: 3ch;
}
.pb-4 {
  padding-bottom: 4ch;
}

/* Padding Left */

.pl-1 {
  padding-left: 1ch;
}
.pl-2 {
  padding-left: 2ch;
}
.pl-3 {
  padding-left: 3ch;
}
.pl-4 {
  padding-left: 4ch;
}

/* Padding Right */

.pr-1 {
  padding-right: 1ch;
}
.pr-2 {
  padding-right: 2ch;
}
.pr-3 {
  padding-right: 3ch;
}
.pr-4 {
  padding-right: 4ch;
}

/* Padding Left Right */

.plr-1 {
  padding: 0 1ch;
}
.plr-2 {
  padding: 0 2ch;
}
.plr-3 {
  padding: 0 3ch;
}
.plr-4 {
  padding: 0 4ch;
}

/* Padding Top Bottom */

.ptb-1 {
  padding: 1ch 0;
}
.ptb-2 {
  padding: 2ch 0;
}
.ptb-3 {
  padding: 3ch 0;
}
.ptb-4 {
  padding: 4ch 0;
}

/* Padding */

.p-1 {
  padding: 1ch;
}
.p-2 {
  padding: 2ch;
}
.p-3 {
  padding: 3ch;
}
.p-4 {
  padding: 4ch;
}


.App {
  background-color: #fff;
}
.text1 {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}
.bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}

/* DropDown */
.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 2px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}
.bg-white {
  background: #fff;
  color: #111;
}
.schedule {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}